:root {
  --heading-font: "Lora", serif;
  --paragraph-font: "Montserrat", sans-serif;
}

body {
  color: #2d2a24;
}

nav {
  background-color: #ffffff;
}

nav .logo {
  font-size: 25px;
}

nav li {
  padding: 12px;
}

.navbar a {
  color: #2d2a24;
  font-family: var(--paragraph-font);
}

.navbar a:hover {
  color: #5dc275;
  transition: all 200ms ease;
}

.free-shipping-banner {
  background-color: #5dc275;
  padding: 7px;
  font-family: var(--paragraph-font);
  color: #ffffff;
}

.free-shipping-banner a:hover {
  text-decoration: underline;
  transition: all 200ms ease;
}

.hero {
  background-color: #e0f5f0;
}

.hero h1 {
  font-family: var(--heading-font);
  font-size: 60px;
  margin: 0;
}

.hero p {
  font-family: var(--paragraph-font);
  font-size: 22px;
  line-height: 35px;
}

.hero img {
  max-width: 700px;
  margin-right: -125px;
}

.hero a {
  text-decoration: none;
  background-color: #ef8542;
  padding: 20px;
  border-radius: 4px;
  color: #ffffff;
  font-family: var(--paragraph-font);
  font-size: 18px;
}

.hero a:hover {
  background-color: #5dc275;
  transition: all 200ms ease;
}

.product-category-header {
  padding: 30px 50px;
  color: #2d2a24;
}

.product-category-header h1 {
  font-family: var(--heading-font);
  font-size: 60px;
}

.product-category-header p {
  font-family: var(--paragraph-font);
  font-size: 16px;
}

.product-category-header .filters p:hover {
  color: #5dc275;
}

.offcanvas-body {
  font-family: var(--paragraph-font);
}

.offcanvas-body ul {
  list-style: none;
  line-height: 33px;
  color: #2d2a24;
  font-family: var(--paragraph-font);
}

.offcanvas-body h5 {
  font-family: var(--heading-font);
  color: #5dc275;
}
