:root {
  --heading-font: "Lora", serif;
  --paragraph-font: "Montserrat", sans-serif;
}

nav {
  background-color: #ffffff;
}

nav .logo {
  font-size: 25px;
}

nav li {
  padding: 12px;
}

.navbar a {
  color: #2d2a24;
}

.navbar a:hover {
  font-style: italic;
}
