:root {
  --heading-font: "Lora", serif;
  --paragraph-font: "Montserrat", sans-serif;
}

body {
  color: #2d2a24;
}

nav {
  background-color: #ffffff;
}

nav .logo {
  font-size: 25px;
}

nav li {
  padding: 12px;
}

.navbar a {
  color: #2d2a24;
  font-family: var(--paragraph-font);
}

.navbar a:hover {
  color: #5dc275;
  transition: all 200ms ease;
}

.free-shipping-banner {
  background-color: #5dc275;
  padding: 7px;
  font-family: var(--paragraph-font);
  color: #ffffff;
}

.free-shipping-banner a:hover {
  text-decoration: underline;
  transition: all 200ms ease;
}

.hero {
  background-color: #e0f5f0;
}

.hero h1 {
  font-family: var(--heading-font);
  font-size: 60px;
  margin: 0;
}

.hero p {
  font-family: var(--paragraph-font);
  font-size: 22px;
  line-height: 35px;
}

.hero img {
  max-width: 700px;
  margin-right: -125px;
}

.hero a {
  text-decoration: none;
  background-color: #e9935e;
  padding: 20px;
  border-radius: 4px;
  color: #ffffff;
  font-family: var(--paragraph-font);
  font-size: 18px;
}

.hero a:hover {
  background-color: #d78856;
  transition: all 200ms ease;
}

.product-category-header {
  padding: 30px 50px;
  color: #2d2a24;
}

.product-category-header h1 {
  font-family: var(--heading-font);
  font-size: 60px;
}

.product-category-header p {
  font-family: var(--paragraph-font);
  font-size: 16px;
}

.product-category-header .filters p:hover {
  color: #5dc275;
}

.offcanvas-body {
  font-family: var(--paragraph-font);
}

.offcanvas-body ul {
  list-style: none;
  line-height: 33px;
  color: #2d2a24;
  font-family: var(--paragraph-font);
}

.offcanvas-body h5 {
  font-family: var(--heading-font);
  color: #5dc275;
}

.card {
  border-radius: 4px;
}

.card:hover {
  border: solid 1px #9c9b9b;
  transition: all 200ms ease;
}

.card-body {
  font-family: var(--paragraph-font);
}

.card-body .card-title {
  font-family: var(--heading-font);
}

.card-body i {
  font-size: 20px;
}

.card-body i:hover {
  color: #5dc275;
}

/* Rating */

* {
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
  height: 46px;
  padding: 0px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 18px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "♥ ";
}
.rate > input:checked ~ label {
  color: #5dc275;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #5dc275;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #5dc275;
}

/* End Rating */

.toast {
  background-color: #5dc275;
  color: #ffffff;
}

.toast button {
  color: #ffffff;
}
